/* Dashboard Top Navigation and Global Styles */
#bodyDash {background-color: rgb(32, 32, 32);}
#dashboardTop {height: 45px; background-color: rgb(16, 16, 16); display: flex; flex-wrap: column; align-items: center; position: absolute; z-index: 1000; right: 0; left: 0; border-bottom: 1px solid rgba(81, 81, 81, 0.453);}
#logoHeight {height: 40px!important; margin-left: 0!important; cursor: default!important;}
#dashText {margin-left: 41px; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; font-size: 18px; color: white;}
#line {width: 1px; height: 29px; background-color: white; margin-left: 39px;}

#backtohome {height: 24px; transform: rotate(180deg); margin-left: 4vw; transition: all 0.3s ease; margin-right: 10px;}
#backtohome:hover {height: 28px; cursor: pointer;}


code {padding: 1px; margin-left: 5px; margin-right: 5px; background-color: rgb(49, 49, 49);}



/* Opening Page */
                                                                    /**//**//**/
#overlay {background-color: rgb(32, 32, 32); position: absolute; display: none; top: 46px; bottom: 0; right: 0; left: 45px; z-index: 10000; opacity: 1; transition: all 0.2s ease; display: flex; flex-direction: column; align-items: center; color: white;}
.grey {color: rgb(202, 202, 202); cursor: pointer; display: flex; flex-direction: row; align-items: center; margin-top: 15px;}
.openingContain {display: flex; flex-direction: row; align-items: left; margin-top: 80px; padding: none; height: fit-content; width: fit-content;}
.openingContain ul {padding: 0!important; list-style-type: none;}
#openingRight {margin-left: 159px!important;}
.blue span {margin-left: 5px;}
#dashHomeLogo {height: 70px; margin-top: 150px;}
#optionsContain {display: flex; flex-direction: row; align-items: center;}
#welcome {font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; font-size: 27px; margin-top: 20px;}
                                                                    
.title {font-size: 18px; margin-bottom: 50px;}
                                                                    
.grey:hover {color: rgb(236, 236, 236);}




/* Menu */


/* 
#download-icon, #homeicon, #saveAsicon, #codeicon   --   Physical Image Icons
--
.icon
#home, #saveas, #download, #code   --   Containers of everything
--
#homeText, #codeText, #downloadText, #saveAsText   --   The Tooltip Text
.textSizing   --   Container of Tooltip
*/


#download-icon, #homeicon, #saveAsicon, #codeicon {height: 25px;} 
#home, #saveas, #download, #code {z-index: 100001;}
#homeText, #codeText, #downloadText, #saveAsText {margin: none;}
.icon {border-radius: 1px; width: 100%; cursor: pointer; display: flex; flex-direction: column; align-items: center; padding-top: 7px; padding-bottom: 7px; position: relative; transition: width 0.1s ease!important;}
/* Tooltip! */
.textSizing {left: 100%; top: 50%; transform: translateY(-50%); margin-left: 10px; padding: 4px 8px; border-radius: 4px; font-size: 13px; white-space: nowrap; background-color: #333; position: absolute; color: white; display: none; border:rgb(0, 0, 0) solid 1px;}
.textSizing::after {content: ''; position: absolute; right: 100%; top: 50%; transform: translateY(-50%); border: 6px solid transparent; border-right-color: #333;}

#home {background-color: rgb(32, 32, 32);}

#home {margin-top: 45px!important;}
#line3 {height: 1px; width: 80%; background-color: rgb(64, 64, 64); margin-top: 18px;}

.circle {height: 9px; width: 9px; border-radius: 50%; background-color: rgb(188, 15, 15); top: 6px; position: absolute; right: 7px;}

#sidebar {position: absolute; left: 0; top: 0; bottom: 0; width: 45px; background-color: rgb(16, 16, 16); border-right: 1px solid rgba(81, 81, 81, 0.453); z-index: 100000; display: flex; flex-direction: column; align-items: center;}










/* Body Content Total */   /* Container */
#bodycontent {position: absolute; display: flex; bottom: 0; top: 45px; right: 0; left: 44px;}
/**/ 





/* Right */
#pageright {width: 40%; min-width: 680px;}
#insideRightContain {position: relative; width: 100%; height: 100%;}
#iframeContain {position: absolute; bottom: 0; left: 0; right: 0; top: 30px;}
#rightButtons {position: absolute; top: 0; right: 0; left: 0; display: flex; width: 100%;}
.rightsidesizing {width: 99%; height: 99%; display: flex; align-items: center; justify-content: center; color: white;}
.agh {font-size: 17px!important; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif!important; margin-left: 5px!important; color: white!important;}
#pdfTop {height: 30px; width: 70%; cursor: pointer; background-color: rgb(16, 16, 16); border-left: 1px solid rgba(81, 81, 81, 0.453); color: rgba(255, 255, 255, 0.641); font-size: 13px; display: flex; flex-direction: row; align-items: center; position: relative; }
#pdfTop span {margin-left: 3vw}
#agh1 {margin-left: 14px!important;} #agh2 {margin-left: 14px!important;}
#errorsTop {height: 30px; cursor: pointer; width: 30%; background-color: rgb(16, 16, 16); border-left: 1px solid rgba(81, 81, 81, 0.453);  color: rgba(255, 255, 255, 0.641); font-size: 13px; display: flex; flex-direction: row; align-items: center; }
#placeholder {border: none; background-color: #333;}

#toolbarButton {right: 15px; display: flex; align-items: center; flex-direction: row; position: absolute;}

/* Left */
#pageleft {flex-grow: 1; min-width: 450px; height: 100%;}
#insideLeftContain {position: relative; width: 100%; height: 100%;}
#leftButtons {width: 100%; height: 30px; background-color: rgb(16, 16, 16); display: flex; flex-direction: row; align-items: center;}
#leftButtons span {color: rgba(255, 255, 255, 0.641); margin-left: 3vw;}
#agh3 {margin-left: 1vw!important;}
#runSettings {height: 15px; margin-left: 0px; margin-right: 5px;}

#editor {bottom: 0; left: 0; right: 0; top: 30px; position: absolute; outline: none; font-size: 13px; padding-top: 16px; padding-left: 18px; background-color: rgb(29, 29, 29); color: white; border: 1px solid rgba(81, 81, 81, 0.453); border-left: none; font-family: monospace; overflow-y: auto; white-space: pre; user-select: text; line-height: 18px;} 

#runcode {height: 15px; background-color: rgb(32, 32, 32); color: white; display: flex; flex-direction: row; align-items: center; padding: 2px; padding-right: 2px; padding-left: 2px; border-radius: 3px; font-size: 13px; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; border: 1px solid rgb(65, 65, 65); margin-left: 5vw;}
.runbutton {height: 26px; margin: none; cursor: pointer;}
#line2 {height: 20px; width: 1px; background-color: rgb(65, 65, 65);}
#runcodespan {margin-left: 8px!important; margin-right: 7px}
#runbutton2 {display: none; margin-top: 1px!important;}

#push {height: 20px; margin-left: 5px; cursor: pointer;}

#noFile {text-decoration: underline; cursor: pointer;}
/* global */

#pdfTop, #errorsTop {
    transition: width 0.3s ease-out!important; 
}

