#bodyDash {background-color: rgb(32, 32, 32);}
#dashboardTop {height: 60px; background-color: rgb(16, 16, 16); display: flex; flex-wrap: column; align-items: center; position: absolute; z-index: 1000; width: 100%;}
#logoHeight {height: 50px!important; margin-left: 0!important; cursor: default!important;}
#contain01 {color: white;}
#dashText {margin-left: 41px; margin-bottom:4px; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; font-size: 20px;}
#line {width: 1px; height: 35px; background-color: white; margin-left: 39px;}
#backtohome {height: 28px; transform: rotate(180deg); margin-left: 80px; transition: all 0.3s ease; margin-right: 10px;}
#backtohome:hover {height: 31px; cursor: pointer;}
#runcode {height: 20px; background-color: rgb(32, 32, 32); color: white; display: flex; flex-direction: row; align-items: center; padding: 2px; padding-right: 6px; padding-left: 6px; border-radius: 3px; font-size: 14px; font-family: monospace; border: 1px solid rgb(65, 65, 65); margin-left: 8vw;}
#runbutton {height: 34px; margin: none; cursor: pointer;}
#line2 {height: 20px; width: 1px; background-color: rgb(65, 65, 65);}
#runcode span {margin-left: 8px;}
#saveicon {height: 30px; margin-top: 5px; margin-left: 30px;} 
#download-icon {height: 30px; margin-top: 5px; margin-left: 30px;}
#editor {position: absolute; top: 90px; bottom: 10px; left: 45px; right: 1000px; outline: none; background-color: rgb(29, 29, 29); color: white; font-family: monospace; z-index: 100; overflow: auto; white-space: pre; user-select: text;  line-height: 20px;} 
