/* Dashboard Top Navigation */
#bodyDash {background-color: rgb(32, 32, 32);}
#dashboardTop {height: 45px; background-color: rgb(16, 16, 16); display: flex; flex-wrap: column; align-items: center; position: absolute; z-index: 1000; right: 0; left: 0; border-bottom: 1px solid rgba(81, 81, 81, 0.453);}
#logoHeight {height: 40px!important; margin-left: 0!important; cursor: default!important;}
#contain01 {color: white;}
#dashText {margin-left: 41px; margin-bottom:4px; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; font-size: 18px;}
#line {width: 1px; height: 29px; background-color: white; margin-left: 39px;}

#backtohome {height: 24px; transform: rotate(180deg); margin-left: 3vw; transition: all 0.3s ease; margin-right: 10px;}
#backtohome:hover {height: 28px; cursor: pointer;}


/* Menu */
#saveicon, #download-icon, #openicon, #closeicon, #openFileicon, #newicon, #homeicon, #saveAsicon, #codeicon {height: 25px;} 
.icon {border-radius: 1px; width: 100%; cursor: pointer; display: flex; flex-direction: column; align-items: center; padding-top: 7px; padding-bottom: 7px; position: relative;}
#home:hover {background-color: rgb(64, 64, 64);}
#save:hover {background-color: rgb(64, 64, 64);} 
#saveas:hover {background-color: rgb(64, 64, 64);}
#download:hover {background-color: rgb(64, 64, 64);}
#openFile:hover {background-color: rgb(64, 64, 64);}
#newFile:hover {background-color: rgb(64, 64, 64);}
#code:hover {background-color: rgb(64, 64, 64);}
#open, #close {margin-top: 6px}
#close {display: none;}
#home {margin-top: 45px!important;}
#line3 {height: 1px; width: 80%; background-color: rgb(64, 64, 64); margin-top: 18px;}
.circle {height: 9px; width: 9px; border-radius: 50%; background-color: rgb(188, 15, 15); top: 6px; position: absolute; right: 7px;}
/**/
#sidebar {position: absolute; left: 0; top: 0; bottom: 0; width: 45px; background-color: rgb(16, 16, 16); border-right: 1px solid rgba(81, 81, 81, 0.453); z-index: 999; display: flex; flex-direction: column; align-items: center;}



/* Body Content Total */   /* Container */
#bodycontent {position: absolute; display: flex; bottom: 0; top: 45px; right: 0; left: 44px;}
/**/

/* Right */
#pageright {width: 40%; min-width: 680px;}
#insideRightContain {position: relative; width: 100%; height: 100%;}
#iframeContain {position: absolute; bottom: 0; left: 0; right: 0; top: 30px;}
#rightButtons {position: absolute; top: 0; right: 0; left: 0; display: flex; width: 100%;}
.rightsidesizing {width: 99%; height: 99%;}
.agh {font-size: 17px!important; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif!important; margin-left: 5px!important; color: white!important;}
#pdfTop {height: 30px; width: 50%; cursor: pointer; background-color: rgb(16, 16, 16); border-left: 1px solid rgba(81, 81, 81, 0.453); color: rgba(255, 255, 255, 0.641); font-size: 13px; display: flex; flex-direction: row; align-items: center; }
#pdfTop span {margin-left: 3vw}
#agh1 {margin-left: 14px!important;} #agh2 {margin-left: 14px!important;}
#errorsTop {height: 30px; width: 50%; cursor: pointer; background-color: rgb(16, 16, 16); border-left: 1px solid rgba(81, 81, 81, 0.453);  color: rgba(255, 255, 255, 0.641); font-size: 13px; display: flex; flex-direction: row; align-items: center; }
#placeholder {border: none; }




/* Left */
#pageleft {flex-grow: 1; min-width: 450px; height: 100%;}
#insideLeftContain {position: relative; width: 100%; height: 100%;}
#leftButtons {width: 100%; height: 30px; background-color: rgb(16, 16, 16); display: flex; flex-direction: row; align-items: center;}
#leftButtons span {color: rgba(255, 255, 255, 0.641); margin-left: 3vw;}
#agh3 {margin-left: 1vw!important;}

#editor {bottom: 0; left: 0; right: 0; top: 30px; position: absolute; outline: none; font-size: 13px; padding-top: 16px; padding-left: 18px; background-color: rgb(29, 29, 29); color: white; border: 1px solid rgba(81, 81, 81, 0.453); border-left: none; font-family: monospace; overflow-y: auto; white-space: pre; user-select: text; line-height: 18px;} 

#runcode {height: 15px; background-color: rgb(32, 32, 32); color: white; display: flex; flex-direction: row; align-items: center; padding: 2px; padding-right: 2px; padding-left: 2px; border-radius: 3px; font-size: 13px; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; border: 1px solid rgb(65, 65, 65); margin-left: 5vw;}
#runbutton {height: 34px; margin: none; cursor: pointer;}
#line2 {height: 20px; width: 1px; background-color: rgb(65, 65, 65);}
#runcodespan {margin-left: 8px!important; margin-right: 7px}



/* Opening Page */

#overlay {background-color: rgb(32, 32, 32); position: absolute; display: block; top: 46px; bottom: 0; right: 0; left: 45px; z-index: 100000; opacity: 1; transition: all 0.2s ease; display: flex; flex-direction: column; align-items: center; color: white;}
.blue {filter: brightness(0) saturate(100%) invert(25%) sepia(97%) saturate(7471%) hue-rotate(220deg) brightness(97%) contrast(104%); cursor: pointer;}
.blue:hover {text-decoration: underline;}
.openingContain {display: flex; flex-direction: row; align-items: center; margin-top: 80px;}
#createNew {margin-left: 89px;}
.blue span {margin-left: 5px;}
#dashHomeLogo {height: 140px; margin-top: 240px;}
#optionsContain {display: flex; flex-direction: row; align-items: center;}
#welcome {font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; font-size: 35px; margin-top: 20px;}
  
